/**********************************************************
* initialize.scss
* 初めに読み込むものを定義

* 目次
* @import "./variable";
* @import "./animations";
* @import "./parts";
**********************************************************/

html {
  font-size: 100%;

  // 400px以降から、100pxごとに1px大きくなる
  @media (min-width: 400px) {
    font-size: calc(112.5% + 4 * (100vw - 400px) / 400)
  }

  // 1,000px以上は、22pxに
  @media (min-width: 1000px) {
    font-size: calc(137.5%)
  }
}

@import "./variable";
@import "./animations";
@import "./parts";
