/*****************************
* variables/collors.scss
* 使う色はここで定義する
* 使用例

.foo {
    color: colors(twitter);
}
*****************************/

$colors: (
    twitter: #55acee,
    facebook: #3b5998,
);

@function colors($key) {
    @return map-get($colors, $key);
}
