/*****************************
* variables/fonts.scss
* 使用するフォント
*****************************/
@font-face {
  font-family: 'Jost-Italic';
  src: url('../../fonts/Jost-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Jost';
  src: url('../../fonts/Jost-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'NotoSansJP-Bold';
  src: url('../../fonts/NotoSansJP-Bold.otf');
}
@font-face {
  font-family: 'NotoSansJP-Regular';
  src: url('../../fonts/NotoSansJP-Regular.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Bold';
  src: url('../../fonts/NotoSerifJP-Bold.otf');
}
@font-face {
  font-family: 'NotoSerifJP-Regular';
  src: url('../../fonts/NotoSerifJP-Regular.otf');
}
