/*****************************
* variables/functions.scss
* 便利な関数を用意
* 目次
* center
*****************************/
@mixin center {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* 使用例
.foo {
  @include center;
}
****/
